body {
  font-family: Helvetica;  
  font-size: 28px;
}

ol {
  list-style: none;
  margin-top: 1em;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.upcoming {
  display: none;
}

li#next {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  margin-bottom: 0px;
}

#next .time {
  display: block;
  font-size: 6em;
  line-height: 80%;
}

li {
  padding: 4px 6px 2px 6px;
  vertical-align: text-bottom;
} 

li .type, p .type {
  float: right;
  color: #aaa;
  font-size: smaller;
}

#expand {
  cursor: pointer;
}

#msg {
  color: #aaa;
  font-size: 0.6em;
  float: right;
  padding-top: 6px;
}

#footer {
  border-top:1px solid black; 
  position: relative;
  top: -1px;
  padding-top: 6px;
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

.zebra-black {
	background-color: #ddd;
}
