body {
  font-family: Helvetica;  
  font-size: 28px;
  padding-top:6px;
}

ol {
  list-style: none;
  margin-top: 1em;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.upcoming {
  display: none;
}

li#next {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  margin-bottom: 0px;
}

#next .time {
  display: block;
  font-size: 6em;
  margin-bottom: -0.1em;
}

li {
  padding: 4px 6px 2px 6px;
  vertical-align: text-bottom;
  overflow: auto;
} 

li .type, p .type {
  float: right;
  color: #aaa;
  font-size: smaller;
}

#expand {
  cursor: pointer;
}

#msg {
  color: #aaa;
  font-size: 0.6em;
  float: right;
  padding: 6px;
}

#footer {
  border-top:1px solid black; 
  position: relative;
  top: -1px;
  overflow: auto;
  padding-top: 6px;
  margin: 0px 8px;
}

.zebra-black {
	background-color: #ddd;
}

#helpLink {
  margin-top: 6px;
  margin-right: 8px;
  font-size: 0.4em;
  float: right;
}

#help {
  float: right;
  clear: both;
  width: 50em;
  font-size: 0.5em;
  text-align: right;
  margin-top: 8px;
  margin-right: 8px;
  background-color: #98FB98;
  padding: 8px;
}

#help em{
  white-space: nowrap;
}

#feedEntry {
  display: block;
}

#cancel {
  font-size: 0.6em;
  float:right;
  margin-top: 6px;
